html {
  overflow: hidden;
}

.sprite-sec {
  z-index: 2 !important;
  background-color: rgba(0, 0, 0, 0.0)
}

.bg {
  z-index: 5 !important;
  width:100%;
  height:100%;
  background-image: url(../img/bg/cafe1.jpg);
  height: 100vh;
}

.textflow {
  z-index: 5 !important;
  padding-left: 5%;
  margin-left: 3%;
  margin-right: 3%;
  min-width: 94% !important;
  min-height: 15% !important;
}

.sprite {
  z-index: 1 !important;
}

.img-wrap {
  position: relative;
}

.img-wrap span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.canv {
  z-index: 100 !important;
  width: 100vw;
  height: 100vh;
}